*{
    margin: 0;
    padding: 0;
    font-family: century gothic;
}

.backgound {
    background-image: url(../images/bg.jpg);
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.63);
}
.card {
    background-color: rgba(0, 0, 0, 0);
    margin-top: -2.8em;
}
.bg {
    background-color: rgba(0, 0, 0, 0.658);
}

input[type=text] {
    color: #fff;
}
::placeholder {
    color: rgba(221, 221, 221, 0.822);
}  

.links {
    font-weight: 500;
}
.header1 {
    font-weight: 500;
    font-size: 23px;
}

.form-inlines {
    border: none;
    border-radius: 6px;
    width: 60%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.418);
}

.form-controls {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    padding: 3px;
    border: none;
}

.navbar-toggler  {
    background-color: rgba(255, 255, 255, 0.363);
}

.btn {
    border-radius: 20px;
}

.section {
    background-color: rgba(0, 0, 0, 0.534);
    width: 15em;
    border-radius: 8px;
}

.sect1 {
    height: 15em;
}
.sect2 {
    height: 15em;
}
 
@media only screen and (max-width: 780px) {
    .backgound {
        background-color: rgba(0, 0, 0, 0.932);
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
    }

    .form-inlines {
        background-color: rgba(255, 255, 255, 0.24);
        width: 75%;
        /* margin-right: 3em !important; */
    }
    .h1 {
        font-size: 30px;
        font-weight: 500;
    }

    .section {
        background-color: rgba(77, 71, 71, 0.534);
    }
    .col-md-7 {
        margin: 0% !important;
        padding: 0% !important;
    }
    
    .ml-5 {
        margin-left: 2% !important;
    }
    /* .fa-calendar {
        display: none;
    } */
    .bg {
        background-color: rgba(153, 153, 153, 0.397);
    }
    .header1 {
        font-weight: 600;
        font-size: 30px;
        text-align: center;
    }
    
    
} 