*{
    margin: 0;
    padding: 0;
    font-family: century gothic;
}

.backgound {
    background-image: url(../images/bg.jpg);
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.63);
}
.card {
    background-color: rgba(0, 0, 0, 0);
    margin-top: -2.8em;
}
.bg {
    background-color: rgba(0, 0, 0, 0.658);
}

input[type=text] {
    color: #fff;
}
::placeholder {
    color: rgba(221, 221, 221, 0.822);
}  

.links {
    font-weight: 500;
}
.header1 {
    font-weight: 500;
    font-size: 23px;
}

/* .form-inlines {
    border: none;
    border-radius: 6px;
    width: 60%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.418);
}

.form-controls {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    padding: 3px;
    border: none;
} */

.wrapper {
    position: relative;
    display: flex;
    width: 60%;
  }
  
  .search {
    border: 1px solid rgba(128, 128, 128, 0.014);
    border-radius: 5px;
    height: 25px;
    width: 100%;
    padding: 20px 23px 20px 40px;
    outline: 0;
    background-color: #000000af;
  }
  
  .search-icon {
    position: absolute;
    top: 10.5px;
    left: 10px;
    font-size: 19px;
    color: #fff;
    cursor: pointer;
  }
  
  .clear-icon {
    position: absolute;
    left: 95%;
    top: 12px;
    width: 20px;
    cursor: pointer;
    visibility: hidden;
  }
  
  .search:hover, .search:focus {
    border: 1px solid #00968700;
    background-color: rgba(255, 255, 255, 0.226);
  }
  

.navbar-toggler  {
    background-color: rgba(255, 255, 255, 0.363);
}

.btn {
    border-radius: 20px;
}

.section {
    background-color: rgba(0, 0, 0, 0.534);
    width: 15em;
    border-radius: 8px;
}

.sect1 {
    height: 15em;
}
.sect2 {
    height: 15em;
}
 
@media only screen and (max-width: 780px) {
    .backgound {
        background-color: rgba(0, 0, 0, 0.932);
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
    }

    .search {
        width: 100%;
        margin-right: 3em auto !important;
        background-color: rgba(32, 28, 28, 0.466);

        /* margin-right: 3em !important; */
    }
    .wrapper {
        width: 80%;
        margin-right: 3em auto !important;
      }
      .clear-icon {
        left: 89%;
        top: 12px;
        width: 20px;
      
      }
    .h1 {
        font-size: 30px;
        font-weight: 500;
    }

    .section {
        background-color: rgba(77, 71, 71, 0.534);
    }
    .col-md-7 {
        margin: 0% !important;
        padding: 0% !important;
    }
    
    .ml-3 {
        margin-right: 4em !important;
    }
    /* .fa-calendar {
        display: none;
    } */
    .bg {
        background-color: rgba(153, 153, 153, 0.397);
    }
    .header1 {
        font-weight: 600;
        font-size: 30px;
        text-align: center;
    }

    .row {
        text-align: center;
    }
    .btn {
        text-align: center;
        margin: 0% auto !important;
    }
    .section {
        text-align: center;
        margin: 0% auto !important;
    }
    .sect1 {
        margin-top: 1em !important;
    }
    .sect2 {
        margin-top: 1em !important;
    }
    
    
} 